@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Montserrat Font import */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 

  /* font */
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* styles */
  --bg-color: #020a06;
  --cursor-color: #cfcfaf;
  --typewriter-font-size: 12vw;
  --reg-font-size: 3vw;

  background: var(--bg-color);
  overflow: hidden;
  padding: 5vh 0;
}

.normal {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.styled {
  font-family: "Montserrat", serif;
  font-style: normal;
}

#header {
  width: 80vw;
  max-width: 80vw;
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#typewriter, #cursor {
  font-size: var(--typewriter-font-size);
  line-height: var(--typewriter-font-size);
}

#typewriter {
  text-align: center;
}

#cursor {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

label {
  text-align: center;
  font-size: 4vh;
  line-height: 5vh;
}

button, input, input:focus {
  outline: none;
  background-color: var(--cursor-color);
  font-family: "Montserrat", serif;
  height: 5vh;
  font-size: 4vh;
  line-height: 0vh;
  border: none;
  margin-bottom: 10px;
  border-radius: 0px;
}

input {
  padding-left: .5vw;
  color: var(--bg-color);
}

button {
  color: var(--bg-color);
  background-color: var(--cursor-color);
  transition: transform 0.2s ease;
}

button:hover {
  background-color: #aca;
}

@media (max-width: 400px) {

  #root {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
  }

  button {
    text-wrap: wrap;
    height: 8vh;
    line-height: 4vh;
  }
  
}

#email-form {
  position: relative;
  overflow: hidden; /* Ensures sliding animations don't cause scrollbars */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}