body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 5vh 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  --bg-color: #020a06;
  --cursor-color: #cfcfaf;
  color: var(--cursor-color);
  background: var(--bg-color);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
}

#cbtk-img {
  height: 50vh;
  width: 50vw;
}

p {
  font-size: 3vh;
}

@media (max-width: 400px) {

  #cbtk-img {
    padding-top: 20vh;
    height: 40vh;
    width: 70vw;
  }

  
}