* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  --bg-color: #020a06;
  --cursor-color: #cfcfaf;
  color: var(--cursor-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--bg-color);
}

p {
  font-size: 3vh;
}